/* Remove all initial paddding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The font applies for whole website. */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* images background display on the header of home and archive pages */
.img-header {
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* need to consider */
#container {
    height: 100vh;
}

/*The navigation bar  */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #232121;
    z-index: 4;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;
    overflow: auto;
}

#logo{
    margin-left: 5px;
    position: relative;
    margin-top: 5px;
    margin-right:5px ;
}

#navigation_header{
    position: relative;
    width: 500px;
    height: 46px;
}

/* */
.navigation_list {
    list-style-type: none;
    display: flex;
}

.navigation_link_list {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
}
.active_navigation_link{
    color: #551a8b;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
}
.navigation_list li:hover a{
    color: #000;
    background-color: #ccc;
}
.btn:hover{
    background-color: #666;
    color: white;
  }

/* */
#home-header {
    position: relative;
    height: 500px;
    
    background-color: rgba(0, 0, 0, 0);
}

#home-header .text-content {
    position: absolute;
    bottom: 50%;
    left: 16%;
    color: #fff;
}

#home-header .text-heading {
    font-size: 300%;
}

#home-header .text-description {
    font-style: italic;
}

#content .content-section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

#content .content-section .post-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

#content .content-section .post-date {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 5px;
}

#content .content-section .post-tag {
    text-align: center;
    opacity: 0.4;
}

#content .content-section .post-content {
    font-size: 15px;
    margin-top: 5px;
    text-align: justify;
    line-height: 1.4;
}

#content .heroes-list {
    margin-top: 10px;
    list-style-type: none;

}

#content .heroes-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
}

#content .heroes-name {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

#content .heroes-item img {
    width: 100%;
    border-radius: 10px;
}

/* to control the flow next to floated "heroes-item" class */
#content .clear {
    clear: both;
}

#footer {
    position: relative;
    background-color: #fff;
    width: 100%;
}
/*Login Form*/
#logo{
    width:40px;
    height:40px;
}
#loginFormID {
    position: relative; 
    width: 150%; 
    height: 300px;
}
.login_button{
    text-decoration: none;
}
.LoginFormDiv{
    position: absolute;
    left:30px; 
    top: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;

}
#login_text_input_id {
    width: 30%; 
    height: 20px; 
    position: relative;
}
/* register */
#register_form{
    position: relative;
    width: 100%;
    height: 300px; 
    top: 75;
}
/* scroll to top button */
#toTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #toTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

 /* Create Post Page */
.post-page {
    background-color: rgb(0, 0, 0) ;

}
#post-page-header  {
    width: auto;
    height: auto;


}
#post-page-header img {
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}
#post-page-title {
    color: #fff;
    border: 1px solid black;
    margin-top: 2em;
    margin-bottom:2em ;
    text-align: center;
}
#post-page-title p {
    font-size: 4em;

}

.post-page-content {
    background-color: rgba(0, 0, 0, 0.805);
    font-size: 1.2rem;
    width: 60%;
    border: 1px solid #ccc;
    height: 100%;
    margin: auto;
    padding: 1em;
    color: #ccc;

}

.post-page-content textarea {
    margin-top: 1em;
    width: 100%;
    height: 650px;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(238, 235, 235);
}

.post-page-content input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0 1em 0 ;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(238, 235, 235);
}


.post-page-content .button {
    background-color:#ccc; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
}


  
/* About Page*/

.introduction-about-page {
    display: flex;
    justify-content: center; /* căn giữa các thẻ */
    width: 100%;
    height: 100%;
    border:2px solid #000;
    margin: 0px;
  }
  
.item {
    width: 25%; 
    height: 80%; 
    background-color: #ccc;
    margin: auto; 
    object-fit: cover;

}
